@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.form-popup {
	overflow-y: auto;
	box-sizing: border-box;
	position: fixed;
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #000;
	background: rgba(0, 0, 0, .4);
	transition: .6s all;

	&.open {
		visibility: visible;
		opacity: 1;
	}

	&__body {
		transform: translateY(-20%);
		opacity: 0;
		transition: .6s transform, .6s opacity;

		&.open {
			transform: translateY(0);
			opacity: 1;
		}
	}

	&__wrapper-order,
	&__wrapper-success,
	&__wrapper-error {
		width: 100%;
		max-width: 720px;
		margin: 50px auto 0 auto;
		padding: 40px 50px;
		border-radius: 48px;
		background: #fff;
		box-shadow: 0px 25px 50px 0px #000;
		transition: .6s all;
	}

	&__header {
		@include mix.displayFlex(flex, space-between, center);
		margin-bottom: 40px;
	}

	&__close {
		width: 50px;
		height: 50px;
		padding: 0;
		border-radius: 50%;

		& img {
			width: 100%;
			height: 100%;
			transition: .6s transform;
		}

		@media (any-hover: hover) {
			&:hover {

				& img {
					transform: scale(.7);
				}
			}
		}
	}

	&__title {
		margin: 0;
		font-size: 48px;
		font-weight: 800;
		line-height: 64px;
		letter-spacing: -1.92px;
	}

	&__wrapper {
		@include mix.displayFlex(flex, space-between, stretch);
		gap: 50px;
	}

	&__order {
		flex: 0 0 240px;
	}
}

.order {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;

	&__image {
		margin-bottom: auto;
		position: relative;
		width: 200px;
		height: 300px;

		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			filter: blur(35px);
			background: var.$accentColor;
			opacity: .3;
		}

		img {
			position: relative;
			z-index: 2;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__order-info {
		margin-top: auto;
		padding: 10px 0;
	}

	&__delivery {
		margin-bottom: 6px;
		font-size: 14px;
		letter-spacing: -0.56px;
	}

	&__allprice {
		font-size: 24px;
		font-weight: 800;
		letter-spacing: -0.96px;
	}
}

.form {
	&__buttons {
		@include mix.displayFlex(flex, space-between, center);
		gap: 6px;
		margin-bottom: 20px;
	}

	&__button {
		flex: 1 1 33.333%;
		height: 56px;
		color: #000;
		font-weight: 600;
		text-align: center;
		font-size: 20px;
		line-height: 1.3em;
		letter-spacing: -.8px;
		border-radius: 16px;
		border: 1px solid rgba(0, 0, 0, .4);
		background: #fff;
		transition: .6s color, .6s background, .6s border-color, .2s border-width;

		&.active {
			color: var.$accentColor;
			border: 4px solid var.$accentColor;
			background: rgba(217, 217, 217, 0.20);
		}

		&:hover {
			cursor: pointer;

			color: var.$accentColor;
			border: 4px solid var.$accentColor;
			background: rgba(217, 217, 217, 0.20);
		}
	}

	&__input {
		position: relative;

		&>input {
			width: 100%;
			margin-bottom: 1em;
			padding: 1em;
			box-sizing: border-box;
			color: #000;
			font-size: 16px;
			line-height: 1.3em;
			font-weight: 600;
			outline: none;
			border-radius: 16px;
			border: 1px solid rgba(0, 0, 0, .4);
			background: var.$lightColor;
			transition: box-shadow .3s ease;

			&::placeholder {
				color: #000;
				font-weight: 600;
				font-size: 16px;
				letter-spacing: -.64px;
			}

			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus,
			&:-webkit-autofill:active {
				-webkit-box-shadow: 0 0 0 30px var.$darkColor inset !important;
				-webkit-text-fill-color: var.$darkColor !important;
				-webkit-backdrop-filter: unset;
			}
		}
	}

	&__btn-submit {
		max-width: 600px;
	}

	&__privacy {
		margin-bottom: 32px;
		color: rgba(0, 0, 0, .5);
		font-size: 9px;
		line-height: 12px;
		letter-spacing: -.36px;

		& a {
			color: rgba(0, 0, 0, 0.50);
			font-size: 9px;
			line-height: 12px;
			letter-spacing: -.36px;
		}
	}
}

.woman-version .form__button {
	&.active {
		color: var.$accentColorWoman;
		border: 4px solid var.$accentColorWoman;
	}

	&:hover {
		cursor: pointer;

		color: var.$accentColorWoman;
		border: 4px solid var.$accentColorWoman;
	}
}

.success,
.error {
	@include mix.displayFlex(flex, space-between, center);
	flex-direction: column;
	gap: 70px;
	text-align: center;

	&__title {
		color: #000;
	}

	&__item {
		@include mix.displayFlex(flex, space-between, center);
		flex-direction: column;
		gap: 26px;
	}

	&__icon {
		@include mix.displayFlex(flex, center, center);
		flex-direction: column;
		overflow: hidden;
		width: 160px;
		height: 160px;
		border: 3px solid #25ffae;
		border-radius: 50%;
		background: #13c39c;
		position: relative;
		animation: crossAnimation 1s forwards;
	}

	&__messages {
		width: 100%;
		max-width: 330px;
		color: #173065;
		letter-spacing: -.18px;
	}

	&__button {
		max-width: 360px;
	}
}


.error {
	gap: 100px;

	&__icon {
		background: #fb4b4b;
		border: 3px solid #f6bdbd;
	}
}

.woman-version .order__image {
	&::before {
		background: var.$accentColorWoman;
	}
}

._hidden-wrapper {
	display: none;
}