@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.logo {
	@include mix.displayFlex(flex, center, center);

}

.man-version .logoman {
	display: block;
}

.man-version .logowoman {
	display: none;
}

.woman-version .logowoman {
	display: block;
}

.woman-version .logoman {
	display: none;
}