@use '../base/variable' as var;
@use '../base/mixin' as mix;

.subtitle {
	margin: 0;
	font-size: 48px;
	font-family: var.$subFamily;
	font-weight: var.$subTitleWeight;
	line-height: var.$subTitleHeight;
	color: var.$subTitleColor;
	letter-spacing: -1.44px;
}