@use "sass:map";
/// общие
$mainBg: #fff; // background
$accentGeneral: #173065;
$accentColor: #ff7300; // акцентный цвет и цвет скроллбара
$accentColorWoman: #00c6ff;
$accentColorTwo: #ccc; // второй акцентный цвет и цвет скроллбара
$widthContainer: 1100; // max-width

$family: 'Inter', 'Arial', 'Helvetica', sans-serif; // font-family дефолтный шрифт
$subFamily: 'Inter', 'Arial', 'Helvetica', sans-serif; // font-family допшрифт шрифт

$generalBigTextSize: 18; // font-size текст который надо сделать чуть больше, чем основной
$generalBigTextSizeMin: 16; // font-size текст который надо сделать чуть больше, чем основной для экрана 320px
$generalTextSize: 18; // font-size основного текста
$generalTextSizeMin: 14; // font-size основного текста для экрана 320px

$generalLineHeight: 1.5em; // line-height основного текста
$generalBigLineHeight: 1.5em; // line-height основного болшого текста
$letterSpacing: 0.02em;

$generalColorText: #173065; // color основного текста
$subColorText: #fff; // color дополнительного текста

/// скроллбар
$borderRadius: 0;

/// заголовок главный
$titleColor: #fff; // color
$titleWeight: 700; // font-weight
$titleFontSize: 64; // font-size
$titleFontSizeMin: 44; // font-size
$titleHeight: 1.2em; // line-height
$titleTransform: none; // text-transform

/// подзаголовок
$subTitleColor: #173065; // color
$subTitleWeight: 800; // font-weight
$subTitleFontSize: 48; // font-size
$subTitleFontSizeMin: 24; // font-size screen 320px
$subTitleHeight: 1.3em; // line-height


/// кнопка вверх
$darkColor: #173065; // border, background for :before, :after, background for button-up__link
$lightColor: #fff; // hover background for :before, :after