@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/logo';


.footer {
	padding: 50px 0 30px 0;
	color: rgba(0, 0, 0, 0.50);
	text-align: center;
	font-size: 10px;
	font-weight: 400;
	line-height: normal;

	&__links {
		@include mix.displayFlex(flex, center, center);
		gap: 40px;
		margin-bottom: 14px;
	}

	&__link {
		color: #173065;
		text-align: center;
		font-size: 16px;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&__info {
		margin-bottom: 14px;
	}

	&__description {
		width: 100%;
		max-width: 470px;
		margin: 0 auto;
	}
}