@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

$sizeAfterEl: 1.1em;

.header {
	position: fixed;
	z-index: 9;
	width: 100%;
	box-sizing: border-box;
	top: 0;
	left: 0;
	padding: 0;
	transition: .6s box-shadow, .6s background;

	&._active {
		.navigation__wrapper {
			padding: 10px 0;
		}

		.navigation__logo,
		.navigation__cart {
			top: 50%;
			transform: translateY(-50%) scale(.8);
		}

		.navigation__logo {
			&::before {
				z-index: -1;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #040810;
				filter: blur(35px);
				opacity: .4;
			}
		}

		.nav__btn {
			background: var.$accentGeneral;
			box-shadow: 0px 5px 23px 8px rgba(4, 8, 16, 0.13);
		}
	}
}

.navigation {
	color: var.$lightColor;

	&__wrapper {
		position: relative;
		@include mix.displayFlex(flex, center, center);
		box-sizing: border-box;
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		padding: 30px 0;
		transition: .6s background;
	}

	&__logo {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		transition: .6s transform, .6s box-shadow;
	}

	&__cart {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 21px;
		transition: .6s transform, .6s box-shadow;
	}
}

.nav {
	flex: 1 1 auto;
	@include mix.displayFlex(flex, center, center);

	&__list {
		@include mix.displayFlex(flex, center, center);
		gap: 1rem;
	}

	&__item-hidden {
		display: none;
	}

	&__btn {
		padding: 10px 20px;
		color: var.$subColorText;
		font-size: 16px;
		letter-spacing: -0.32px;
		border-radius: 50px;
		transition: .6s opacity;

		&:hover {
			opacity: .8;
		}

		&.active {
			border: 2px solid #fff;
			background: var.$accentGeneral;
		}
	}
}

.cart {
	&__wrapper {
		position: relative;

		&:hover .cart__btn>img {
			opacity: .5;
		}
	}

	&__btn {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: var.$accentGeneral;

		&>img {
			transition: .6s opacity;
		}
	}

	&__current {
		position: absolute;
		top: -9px;
		right: -9px;
		display: block;
		text-align: center;
		height: 24px;
		width: 24px;
		font-size: 12px;
		border-radius: 50%;
		background: var.$accentColor;
		border: 1px solid #fff;
	}
}

.woman-version .cart__current {
	background: var.$accentColorWoman;
}