<footer class="footer">
	<div class="container">
		<div class="footer__links">
			<a target="_blank" href="../../files/policy-cloudpayments.pdf" class="footer__link">Политика
				конфиденциальности</a>
			<a target="_blank" href="#" class="footer__link">Пользовательское соглашение</a>
		</div>
		<div class="footer__info">
			<p>ИП МАКАРОВ ДЕНИС СЕРГЕЕВИЧ ИНН 593305231591 ОГРН 319595800130199</p>
		</div>
		<div class="footer__description">
			<p>Наши продукты являются аналогом оригинальных кассет для бритв и не производятся и не распространяются компанией
				THE GILLETТE COMPANY LLC, владельцем зарегистрированных товарных знаков GILLETТE и FUSION.</p>
		</div>
	</div>
</footer>