<header class="header">
	<div class="header__navigation navigation">
		<div class="navigation__wrapper">
			<div class="navigation__row">
				@@include('../modules/logo.html', {
				'class-logo-wrapper': 'navigation__logo',
				'class-logo-link': 'navigation__logo-link'
				})
				<div class="navigation__cart cart">
					<div class="cart__wrapper">
						<button class="cart__btn" title="Корзина" data-openmodal="cart"><img src="../../assets/images/icon/cart.svg"
								alt="Корзина"></button>
						<span class="cart__current">3</span>
					</div>
				</div>
			</div>
			<nav class="navigation__nav nav">
				<ul class="nav__list">
					<li><button class="nav__btn active" title="Для мужчин" data-tab="man">Для мужчин</button></li>
					<li><button class="nav__btn" title="Для женщин" data-tab="woman">Для женщин</button></li>
				</ul>
			</nav>
		</div>
	</div>
</header>