@use '../base/variable' as var;
@use '../base/mixin' as mix;

.hero {
	position: relative;
	height: 850px;
	color: #fff;
	background: radial-gradient(80.1% 73.21% at 50% 45.93%, #22407f 0%, #000 100%);

	&__item {
		position: relative;
		height: 100%;
		padding-top: 170px;
	}

	&__description {
		margin-bottom: 40px;
		font-size: 24px;
		letter-spacing: -.48px;

		&_accent {
			font-weight: 700;
		}
	}

	&__title {
		margin-bottom: 73px;
		font-size: 64px;
		font-weight: 800;
		line-height: 64px;
		letter-spacing: -2.56px;
	}

	&__action-block {
		box-sizing: border-box;
		width: 100%;
		max-width: 495px;
		border-radius: 48px;
		border: 8px solid #fff;
		background: #173065;
	}

	&__image {
		position: absolute;
		z-index: 3;
		top: 0;
		right: 0;
		width: 700px;
	}
}

.action-block {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 40px;

	&__title {
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		letter-spacing: -0.64px;
	}

	&__button {
		@include mix.displayFlex(flex, flex-start, center);
		gap: 1rem;
	}

	&__btn {
		color: #fff;
	}

	&__old-price {
		font-size: 16px;
		letter-spacing: -0.48px;
		text-decoration: line-through;
		text-transform: uppercase;
		opacity: 0.5;
	}

	&__star {
		position: relative;
		@include mix.displayFlex(flex, center, center);
		flex-direction: column;
		width: 90px;
		height: 90px;
		color: var.$accentColor;
		text-align: center;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 900;
		letter-spacing: -.36px;

		&>span {
			position: relative;
			z-index: 1;
		}

		&:before {
			position: absolute;
			content: '';
			width: 90px;
			height: 90px;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background: url('../../assets/images/hero/star-man.png') center center / cover no-repeat;
			animation: 90s linear infinite rotation;
		}

		@keyframes rotation {
			from {
				transform: translateX(-50%) rotate(0deg);
			}

			to {
				transform: translateX(-50%) rotate(360deg);
			}
		}
	}

	&__description {
		color: var.$accentColor;
		font-size: 22px;
	}
}

.woman-version .action-block__star {
	color: var.$accentColorWoman;

	&::before {
		background: url('../../assets/images/hero/star-woman.png') center center / cover no-repeat;
	}
}

.woman-version .action-block__description {
	color: var.$accentColorWoman
}