@use '../base/variable' as var;
@use '../base/mixin' as mix;

.svg-top {
	position: absolute;
	z-index: 3;
	bottom: -8vw;
	width: 100%;
	height: 8vw;
}

.tobuy-shance {
	position: relative;
	z-index: 2;

	&__image {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 660px;
		width: 510px;
	}

	&__wrapper {
		@include mix.displayFlex(flex, flex-end, flex-start);
	}

	&__item {
		width: 100%;
		max-width: 660px;
		padding: 34px 0;
	}

	&__title {
		margin-bottom: 40px;
		font-weight: 800;
		line-height: 56px;
		letter-spacing: -1.44px;

		&_accent {
			display: inline-block;
			padding: 5px 16px;
			color: #fff;
			line-height: 1em;
			border-radius: 60px;
			background: var.$accentColor;
		}
	}

	&__timer-wrapper {
		@include mix.displayFlex(flex, center, center);
		flex-direction: column;
		gap: 40px;
		margin-bottom: 40px;
		padding: 48px;
		color: #fff;
		border-radius: 64px;
		background: radial-gradient(86.32% 79.4% at 50% 48.06%, #22407F 0%, #000 100%);
	}

	&__timer-title {
		margin: 0;
		font-size: 32px;
		font-weight: 700;
		letter-spacing: -.64px;
	}

	&__accention {
		color: #ff7300;
		font-size: 32px;
		font-weight: 700;
		letter-spacing: -.64px;
	}
}

.action-block {
	&__btn {
		max-width: 300px;
	}
}

.timer__items {
	box-sizing: border-box;
	display: flex;
	font-size: 48px;
	font-weight: 500;

	@media screen and (min-width:1280px) and (max-width:1599px) {
		font-size: 38px;
	}

	@media screen and (min-width:960px) and (max-width:1279px) {
		font-size: 28px;
	}

	@media screen and (min-width:640px) and (max-width:959px) {
		font-size: 28px;
	}

	@media screen and (min-width:321px) and (max-width:639px) {
		font-size: 28px;
	}

	@media screen and (max-width:320px) {
		font-size: 28px;
	}

	.timer__item {
		box-sizing: border-box;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 16px 0 26px 0;
		width: 77px;
		min-height: 77px;
		margin: 0 10px;
		text-align: center;
		font-size: 34px;
		font-weight: 700;
		letter-spacing: -.72px;
		border-radius: 24px;
		border: 4px solid #fff;
		background: #173065;

		&::before {
			box-sizing: border-box;
			content: attr(data-title);
			display: block;
			position: absolute;
			left: 50%;
			bottom: 4px;
			transform: translateX(-50%);
			font-size: 14px;
			font-weight: 300;
			letter-spacing: -.32px;
			opacity: .5;
		}

		&:not(:last-child)::after {
			content: ':';
			position: absolute;
			right: -15px;
		}
	}
}

.woman-version .tobuy-shance__title_accent {
	background: var.$accentColorWoman;
}

.woman-version .tobuy-shance__accention {
	color: var.$accentColorWoman;
}

.woman-version .tobuy-shance__image {
	bottom: -23px;
}