@use './base/variable' as var;
@use './base/mixin' as mix;
@use './base/extentsions';

@media screen and (min-width: 1600px) {
	.svg-bottom {
		overflow: hidden;
		position: absolute;
		bottom: -2px;
		left: -26px;
		width: 110%;
		height: 10vw;
		background: #fff;
		clip-path: polygon(100% -7%, 0% 100%, 100% 100%);
	}
}

@media screen and (min-width:1280px) and (max-width:1599px) {
	.svg-bottom {
		overflow: hidden;
		position: absolute;
		bottom: -2px;
		left: -26px;
		width: 110%;
		height: 10vw;
		background: #fff;
		clip-path: polygon(100% -7%, 0% 100%, 100% 100%);
	}
}

@media screen and (min-width:960px) and (max-width:1280px) {
	.conatainer-image {
		position: relative;
		z-index: 3;
	}

	.tobuy__button {
		align-items: start;
		flex-direction: column;
		gap: 40px;
	}

	.tobuy__attention {
		left: 30px;
	}

	.tobuy__btn {
		min-width: 300px;
	}

	.tobuy-shance {
		.conatainer-image {
			.container {
				position: relative;
				z-index: 3;
			}
		}
	}

	.month-fo-peration {

		&__wrapper {
			position: relative;
			z-index: 3;
		}
	}

	.conatainer-image {
		& .container {
			position: relative;
			z-index: 3;
		}
	}

	.last-shance__button {
		flex-direction: column;
		gap: 16px;
	}

	.last-shance__btn {
		min-width: 300px;
	}
}

@media screen and (min-width:740px) and (max-width:959.98px) {

	.hero {
		height: auto;

		&__image {
			position: relative;
		}
	}

	.tobuy-shance {

		&__item {
			position: relative;
			z-index: 3;
		}

		&__image {
			bottom: -53px;
			height: 436px;
			width: 376px;
		}

		&__timer-wrapper {
			max-width: 500px;
			margin: 0 0 30px auto;
		}
	}

	.month-fo-peration {
		padding: 100px 0;
		clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);

		&__image {
			width: 500px;
		}

		&__wrapper {
			position: relative;
			z-index: 3;
		}

		&__note {
			margin-bottom: 10px;
		}
	}
}

@media screen and (min-width:640px) and (max-width:739.98px) {
	.month-fo-peration {

		& .woman,
		& .man {
			display: none;
		}
	}

	.subtitle {
		font-size: 32px;
		font-weight: 800;
		line-height: 1.2em;
		letter-spacing: -.96px;
	}

	.header {
		position: absolute;
	}

	.navigation {
		color: var.$lightColor;

		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			gap: 14px;
			padding: 18px 0;
		}

		&__row {
			@include mix.displayFlex(flex, space-between, center);
		}

		&__logo {
			position: static;
			transform: translateY(0);
			height: 60px;
		}

		&__cart {
			position: static;
			transform: translateY(0);
			margin-right: 18px;
		}
	}

	.hero {
		position: relative;
		height: auto;
		text-align: center;

		&__description {
			margin-bottom: 30px;

			&_accent {
				font-weight: 700;
			}
		}

		&__title {
			margin-bottom: 60px;
			font-size: 64px;
			line-height: 44px;
			letter-spacing: -1.76px;
		}

		&__image {
			position: static;
			margin: 0 auto;
			z-index: 3;
			width: 100%;
			max-width: 400px;
		}
	}

	.svg-bottom {
		z-index: 2;
	}

	.action-block {
		position: relative;
		padding: 30px 22px;
		margin: 0 auto;

		&__title {
			font-size: 24px;
			letter-spacing: -0.48px;
		}

		&__btn {
			padding: 16px;
		}

		&__star {
			position: absolute;
			top: -30px;
			right: -30px;
			width: 80px;
			height: 80px;

			&>span {
				font-size: 16px;
			}

			&:before {
				width: 80px;
				height: 80px;
			}
		}

		&__description {
			font-size: 22px;
			letter-spacing: -0.44px;
		}
	}

	/// ADVANTAGES

	.advantages {
		padding: 40px 0 0 0;

		&__title-wrapper {
			@include mix.displayFlex(flex, center, center);
			flex-direction: column;
			gap: 30px;
			margin-bottom: 30px;
		}

		&__title {
			font-size: 32px;
			font-style: normal;
			line-height: 32px;
			letter-spacing: -.96px;
		}

		&__items {
			display: block;
			margin-bottom: 50px;
		}

		&__item {
			justify-content: flex-start;
		}

		&__icon-wrapper {
			flex: 0 0 92px;
		}
	}

	/// TOBUY

	.tobuy {

		padding-bottom: 0;

		&__wrapper {
			@include mix.displayFlex(flex, space-between, center);
			flex-direction: column;
			gap: 1rem;
			padding: 26px;
		}

		&__item {
			padding: 20px 0;
		}

		&__button {
			@include mix.displayFlex(flex, space-between, center);
			flex-direction: column;
			gap: 60px
		}

		&__btn {
			max-width: 400px;
		}

		&__attention {
			margin-bottom: 24px;
		}

		&__feedbacks {
			width: 100%;
			max-width: 600px;
			flex: 1 1 auto;
			padding: 0 0 30px 0;
		}
	}

	/// STEPS
	.steps {
		padding: 30px 0;

		&__icon {
			display: none;
		}
	}

	/// TOBUY SHANCE

	.tobuy-shance {
		position: relative;
		padding: 30px 0;

		&__image {
			position: relative;
			left: 0;
			height: 436px;
			width: 500px;
		}

		&__item {
			position: relative;
			z-index: 3;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			width: 100%;
			max-width: 1280px;
			padding: 0;
		}

		&__title {
			width: 100%;
			max-width: 500px;
			margin: 0 auto 30px auto;
			line-height: 1.3em;
			letter-spacing: -.64px;

			&_accent {
				display: inline;
			}
		}

		&__timer-wrapper {
			gap: 50px;
			width: 100%;
			max-width: 1280px;
			margin: 0 0 30px 0;
			padding: 40px 16px;
			border-radius: 60px;
		}

		&__timer-title {
			text-align: center;
		}

		&__accention {
			text-align: center;
			color: #ff7300;
			font-size: 24px;
		}
	}

	/// 30 DAYS
	.month-fo-peration {
		overflow: hidden;
		padding: 80px 0 60px 0;
		clip-path: polygon(0 0, 100% 6%, 100% 94%, 0% 100%);

		&::before {
			top: -50px;
			background: url('../../assets/images/triangle-top.svg') center bottom / cover no-repeat;
		}

		&__image {
			position: static;
		}

		&__catalog {
			margin-bottom: 40px;
		}

		&__catalog-quantity {
			font-size: 24px;
			letter-spacing: -.48px;
		}

		&__catalog-item {
			flex-direction: column;
			gap: 10px;

			&:nth-child(2) {
				margin-left: 24px;
			}
		}

		&__star {
			top: 40px;
			left: -60px;
		}

		&__catalog-button {
			flex-direction: row;
			align-items: center;
			justify-content: start;

			& p {
				font-weight: 700;
				letter-spacing: -.48px;
			}
		}

		&__catalog-btn {
			max-width: 117px;
		}

		&__note {
			margin-bottom: 0;
		}
	}

	/// SLIDER

	.feedback {
		margin-bottom: 30px;
	}

	.container-slider {
		padding: 0 30px;
	}

	.swiper-button-prev {
		display: none;
	}

	.swiper-button-next {
		right: -20px;
	}

	.feedback-slider {
		padding: 30px 0;

		&__slide-header {
			gap: 16px;
		}

		&__slide-wrapper {
			padding: 30px;
		}

		&__slide-title {
			font-size: 16px;
		}
	}

	/// LAST SHANCE

	.last-shance {
		&__wrapper {
			overflow: hidden;
			height: auto;
			@include mix.displayFlex(flex, flex-end, flex-start);
			flex-direction: column;
			padding: 30px 30px 0 30px;
		}

		&__title {
			margin-bottom: 20px;
		}

		&__item {
			padding: 0;
		}

		&__button {
			display: block;
		}

		&__btn {
			margin-bottom: 20px;
		}

		&__action {
			margin-bottom: 90px;
		}

		&__call {
			margin-bottom: 20px;
			font-size: 24px;
			letter-spacing: -.48px;
		}

		&__attention {
			position: relative;
			right: -40px;
			font-size: 20px;
			letter-spacing: -.4px;
		}

		&__img {
			position: static;
			margin: 0 auto;
		}
	}

	.footer {
		&__links {
			flex-direction: column;
			gap: 20px;
			margin-bottom: 20px;
		}
	}

	.form-popup {
		padding: 0 10px;

		&__wrapper-order,
		&__wrapper-success,
		&__wrapper-error {
			margin: 30px auto 0 auto;
			padding: 20px 10px;
			border-radius: 38px;
		}

		&__close {
			position: absolute;
			z-index: 10;
			top: 20px;
			right: 20px;
			width: 40px;
			height: 40px;
		}

		&__header {
			display: block;
			margin-bottom: 0;
		}

		&__title {
			font-size: 30px;
		}

		&__wrapper {
			display: block;
		}
	}

	.form {
		&__button {
			font-size: 16px;
		}
	}

	.order {
		&__image {
			display: none;
		}

		&__order-info {
			margin-bottom: 20px;
		}
	}
}

@media screen and (min-width:375px) and (max-width:639.98px) {

	.subtitle {
		font-size: 32px;
		font-weight: 800;
		line-height: 1.2em;
		letter-spacing: -0.96px;
	}

	.container {
		padding: 0 30px;
	}

	.header {
		position: absolute;
	}

	.navigation {
		color: var.$lightColor;

		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			gap: 14px;
			padding: 18px 0;
		}

		&__row {
			@include mix.displayFlex(flex, space-between, center);
		}

		&__logo {
			position: static;
			transform: translateY(0);
			height: 60px;
		}

		&__cart {
			position: static;
			transform: translateY(0);
			margin-right: 18px;
		}
	}

	.hero {
		position: relative;
		height: auto;

		&__description {
			margin-bottom: 30px;

			&_accent {
				font-weight: 700;
			}
		}

		&__title {
			margin-bottom: 60px;
			font-size: 44px;
			line-height: 44px;
			letter-spacing: -1.76px;
		}

		&__image {
			position: relative;
			margin: 0 auto;
			z-index: 3;
			width: 100%;
			max-width: 400px;
		}
	}

	.svg-bottom {
		z-index: 2;
	}

	.action-block {
		position: relative;
		padding: 30px 22px;

		&__title {
			font-size: 24px;
			letter-spacing: -0.48px;
		}

		&__btn {
			padding: 16px;
		}

		&__star {
			position: absolute;
			top: -30px;
			right: -30px;
			width: 80px;
			height: 80px;

			&>span {
				font-size: 16px;
			}

			&:before {
				width: 80px;
				height: 80px;
			}
		}

		&__description {
			font-size: 22px;
			letter-spacing: -0.44px;
		}
	}

	/// ADVANTAGES

	.advantages {
		padding: 30px 0 0 0;

		&__title-wrapper {
			@include mix.displayFlex(flex, center, center);
			flex-direction: column;
			gap: 30px;
			margin-bottom: 30px;
		}

		&__title {
			font-size: 32px;
			font-style: normal;
			line-height: 32px;
			letter-spacing: -.96px;
		}

		&__items {
			display: block;
			margin-bottom: 50px;
		}
	}

	/// TOBUY

	.tobuy {
		& .container {
			padding: 0;
		}

		padding-bottom: 0;

		&__wrapper {
			@include mix.displayFlex(flex, space-between, center);
			flex-direction: column;
			gap: 1rem;
			padding: 26px;
		}

		&__item {
			padding: 20px 0;
		}

		&__button {
			@include mix.displayFlex(flex, space-between, center);
			flex-direction: column;
			gap: 60px
		}

		&__btn {
			max-width: 400px;
		}

		&__attention {
			margin-bottom: 24px;
		}

		&__feedbacks {
			flex: 0 0 auto;
			padding: 0 0 30px 0;
		}
	}

	/// STEPS
	.steps {
		padding: 30px 0;

		&__items {
			display: block;
		}

		&__icon {
			display: none;
		}
	}

	/// TOBUY SHANCE
	.tobuy-shance {
		position: relative;
		padding: 30px 0;

		& .container {
			padding: 0;
		}

		&__image {
			position: relative;
			bottom: -23px;
			left: 0;
			height: 436px;
			width: 376px;
		}

		&__item {
			width: 100%;
			max-width: 660px;
			padding: 34px 0;
		}

		&__title {
			margin-bottom: 30px;
			margin-left: 30px;
			line-height: 1.3em;
			letter-spacing: -.64px;

			&_accent {
				display: inline;
			}
		}

		&__timer-wrapper {
			gap: 50px;
			margin-bottom: 30px;
			padding: 40px 16px;
			border-radius: 60px;
		}

		&__timer-title {
			text-align: center;
		}

		&__accention {
			text-align: center;
			color: #ff7300;
			font-size: 24px;
		}
	}

	/// 30 DAYS
	.month-fo-peration {
		clip-path: polygon(0 0, 100% 6%, 100% 94%, 0% 100%);

		.man {
			width: 100%;
			height: 42px;
			left: -23px;
			background-size: contain;
		}

		overflow: hidden;
		padding: 80px 0 60px 0;

		&::before {
			top: -33px;
			background: url('../../assets/images/triangle-top.svg') center bottom / cover no-repeat;
		}

		&__image {
			position: static;
		}

		&__catalog {
			margin-bottom: 40px;
		}

		&__catalog-quantity {
			font-size: 24px;
			letter-spacing: -.48px;
		}

		&__catalog-item {
			flex-direction: column;
			gap: 10px;

			&:nth-child(2) {
				margin-left: 24px;
			}
		}

		&__star {
			top: 40px;
			left: -60px;
		}

		&__catalog-button {
			flex-direction: row;
			align-items: center;
			justify-content: start;

			& p {
				font-weight: 700;
				letter-spacing: -.48px;
			}
		}

		&__catalog-btn {
			max-width: 117px;
		}

		&__note {
			margin-bottom: 0;
		}
	}

	/// SLIDER

	.feedback {
		margin-bottom: 30px;
	}

	.container-slider {
		padding: 0 30px;
	}

	.swiper-button-prev {
		display: none;
	}

	.swiper-button-next {
		right: -20px;
	}

	.feedback-slider {
		padding: 30px 0;

		&__slide-header {
			gap: 16px;
		}

		&__slide-wrapper {
			padding: 30px;
		}

		&__slide-title {
			font-size: 16px;
		}
	}

	/// LAST SHANCE

	.last-shance {
		& .container {
			padding: 0;
		}

		&__wrapper {
			overflow: hidden;
			height: auto;
			@include mix.displayFlex(flex, flex-end, flex-start);
			flex-direction: column;
			padding: 30px 30px 0 30px;
		}

		&__title {
			margin-bottom: 20px;
		}

		&__item {
			padding: 0;
		}

		&__button {
			display: block;
		}

		&__btn {
			margin-bottom: 20px;
		}

		&__action {
			margin-bottom: 90px;
		}

		&__call {
			margin-bottom: 20px;
			font-size: 24px;
			letter-spacing: -.48px;
		}

		&__attention {
			position: relative;
			right: -40px;
			font-size: 20px;
			letter-spacing: -.4px;
		}

		&__img {
			position: static;
			margin: 0 auto;
		}
	}

	.footer {
		&__links {
			flex-direction: column;
			gap: 20px;
			margin-bottom: 20px;
		}
	}

	.form-popup {

		padding: 0 10px;

		&__wrapper-order,
		&__wrapper-success,
		&__wrapper-error {
			margin: 30px auto 0 auto;
			padding: 20px 10px;
			border-radius: 38px;
		}

		&__close {
			position: absolute;
			z-index: 10;
			top: 20px;
			right: 20px;
			width: 40px;
			height: 40px;
		}

		&__header {
			display: block;
			margin-bottom: 0;
		}

		&__title {
			font-size: 30px;
		}

		&__wrapper {
			display: block;
		}
	}

	.form {
		&__button {
			font-size: 16px;
		}
	}

	.order {
		&__image {
			display: none;
		}

		&__order-info {
			margin-bottom: 20px;
		}
	}
}

@media screen and (min-width:320px) and (max-width:374.98px) {
	.subtitle {
		font-size: 32px;
		font-weight: 800;
		line-height: 1.2em;
		letter-spacing: -0.96px;
	}

	.container {
		padding: 0 30px;
	}

	.header {
		position: absolute;
	}

	.navigation {
		color: var.$lightColor;

		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			gap: 14px;
			padding: 18px 0;
		}

		&__row {
			@include mix.displayFlex(flex, space-between, center);
		}

		&__logo {
			position: static;
			transform: translateY(0);
			height: 60px;
		}

		&__cart {
			position: static;
			transform: translateY(0);
			margin-right: 18px;
		}
	}

	.hero {
		position: relative;
		height: auto;

		&__description {
			margin-bottom: 30px;

			&_accent {
				font-weight: 700;
			}
		}

		&__title {
			margin-bottom: 60px;
			font-size: 44px;
			line-height: 44px;
			letter-spacing: -1.76px;
		}

		&__image {
			position: relative;
			margin: 0 auto;
			z-index: 4;
			width: 100%;
			max-width: 400px;
		}
	}

	.action-block {
		position: relative;
		padding: 30px 22px;

		&__title {
			font-size: 24px;
			letter-spacing: -0.48px;
		}

		&__btn {
			padding: 16px;
		}

		&__star {
			position: absolute;
			top: -30px;
			right: -30px;
			width: 80px;
			height: 80px;

			&>span {
				font-size: 16px;
			}

			&:before {
				width: 80px;
				height: 80px;
			}
		}

		&__description {
			font-size: 22px;
			letter-spacing: -0.44px;
		}
	}

	/// ADVANTAGES

	.advantages {
		padding: 30px 0 0 0;

		&__title-wrapper {
			@include mix.displayFlex(flex, center, center);
			flex-direction: column;
			gap: 30px;
			margin-bottom: 30px;
		}

		&__title {
			font-size: 32px;
			font-style: normal;
			line-height: 32px;
			letter-spacing: -.96px;
		}

		&__items {
			display: block;
			margin-bottom: 50px;
		}
	}

	/// TOBUY

	.tobuy {
		& .container {
			padding: 0;
		}

		padding-bottom: 0;

		&__wrapper {
			@include mix.displayFlex(flex, space-between, center);
			flex-direction: column;
			gap: 1rem;
			padding: 26px;
		}

		&__item {
			padding: 20px 0;
		}

		&__button {
			@include mix.displayFlex(flex, space-between, center);
			flex-direction: column;
			gap: 60px
		}

		&__btn {
			max-width: 400px;
		}

		&__attention {
			margin-bottom: 24px;
		}

		&__feedbacks {
			flex: 0 0 auto;
			padding: 0 0 30px 0;
		}
	}

	/// STEPS
	.steps {
		padding: 30px 0;

		&__items {
			display: block;
		}

		&__icon {
			display: none;
		}
	}

	/// TOBUY SHANCE
	.tobuy-shance {
		position: relative;
		padding: 30px 0;

		& .container {
			padding: 0;
		}

		&__image {
			position: relative;
			bottom: 0;
			left: 0;
			height: 436px;
			width: 376px;
		}

		&__item {
			width: 100%;
			max-width: 660px;
			padding: 34px 0;
		}

		&__title {
			margin-bottom: 30px;
			margin-left: 30px;
			line-height: 1.3em;
			letter-spacing: -.64px;

			&_accent {
				display: inline;
			}
		}

		&__timer-wrapper {
			gap: 50px;
			margin-bottom: 30px;
			padding: 40px 16px;
			border-radius: 60px;
		}

		&__timer-title {
			text-align: center;
		}

		&__accention {
			text-align: center;
			color: #ff7300;
			font-size: 24px;
		}
	}

	/// 30 DAYS
	.month-fo-peration {
		clip-path: polygon(0 0, 100% 3%, 100% 97%, 0% 100%);

		.man {
			width: 100%;
			height: 42px;
			left: -23px;
			background-size: contain;
		}

		overflow: hidden;
		padding: 80px 0 60px 0;

		&::before {
			top: -33px;
			background: url('../../assets/images/triangle-top.svg') center bottom / cover no-repeat;
		}

		&__image {
			position: static;
		}

		&__catalog {
			margin-bottom: 40px;
		}

		&__catalog-quantity {
			font-size: 24px;
			letter-spacing: -.48px;
		}

		&__catalog-item {
			flex-direction: column;
			gap: 10px;

			&:nth-child(2) {
				margin-left: 24px;
			}
		}

		&__star {
			top: 40px;
			left: -60px;
		}

		&__catalog-button {
			flex-direction: row;
			align-items: center;
			justify-content: start;

			& p {
				font-weight: 700;
				letter-spacing: -.48px;
			}
		}

		&__catalog-btn {
			max-width: 117px;
		}

		&__note {
			margin-bottom: 0;
		}
	}

	/// SLIDER

	.feedback {
		margin-bottom: 30px;
	}

	.container-slider {
		padding: 0 30px;
	}

	.swiper-button-prev {
		display: none;
	}

	.swiper-button-next {
		right: -20px;
	}

	.feedback-slider {
		padding: 30px 0;

		&__slide-header {
			gap: 16px;
		}

		&__slide-wrapper {
			padding: 30px;
		}

		&__slide-title {
			font-size: 16px;
		}
	}

	/// LAST SHANCE

	.last-shance {
		& .container {
			padding: 0;
		}

		&__wrapper {
			overflow: hidden;
			height: auto;
			@include mix.displayFlex(flex, flex-end, flex-start);
			flex-direction: column;
			padding: 30px 30px 0 30px;
		}

		&__title {
			margin-bottom: 20px;
		}

		&__item {
			padding: 0;
		}

		&__button {
			display: block;
		}

		&__btn {
			margin-bottom: 20px;
		}

		&__action {
			margin-bottom: 90px;
		}

		&__call {
			margin-bottom: 20px;
			font-size: 24px;
			letter-spacing: -.48px;
		}

		&__attention {
			position: relative;
			right: -40px;
			font-size: 20px;
			letter-spacing: -.4px;
		}

		&__img {
			position: static;
			margin: 0 auto;
		}
	}

	.footer {
		&__links {
			flex-direction: column;
			gap: 20px;
			margin-bottom: 20px;
		}
	}

	.form-popup {
		padding: 0 10px;

		&__wrapper-order,
		&__wrapper-success,
		&__wrapper-error {
			margin: 30px auto 0 auto;
			padding: 20px 10px;
			border-radius: 38px;
		}

		&__close {
			position: absolute;
			z-index: 10;
			top: 20px;
			right: 20px;
			width: 40px;
			height: 40px;
		}

		&__header {
			display: block;
			margin-bottom: 0;
		}

		&__title {
			font-size: 30px;
		}

		&__wrapper {
			display: block;
		}
	}

	.form {
		&__button {
			font-size: 16px;
		}
	}

	.order {
		&__image {
			display: none;
		}

		&__order-info {
			margin-bottom: 20px;
		}
	}
}

@media (any-hover: none) and (orientation: landscape) {}